<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUsuarios" />
                <binding name="BasicHttpBinding_IServicePerfiles" />
                <binding name="BasicHttpBinding_IServiceContratos" />
                <binding name="BasicHttpBinding_IServiceOfertas" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/FeriaVirtualServices.Services/ServicePerfiles/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicePerfiles"
                contract="ServicioPerfiles.IServicePerfiles" name="BasicHttpBinding_IServicePerfiles" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/FeriaVirtualServices.Services/ServiceContratos/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceContratos"
                contract="ServicioContratos.IServiceContratos" name="BasicHttpBinding_IServiceContratos" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/FeriaVirtualServices.Services/ServiceOfertas/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOfertas"
                contract="ServicioOfertas.IServiceOfertas" name="BasicHttpBinding_IServiceOfertas" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/FeriaVirtualServices.Services/ServiceUsuarios/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsuarios"
                contract="ServiciosUsuarios.IUsuarios" name="BasicHttpBinding_IUsuarios" />
        </client>
    </system.serviceModel>
</configuration>